@use "@angular/material" as material;
@use "sass:map";

//Extra color
$workshop-info: material.define-palette(material.$amber-palette);
$workshop-success: material.define-palette(material.$green-palette);
$font: "Roboto";

$workshop-typography: material.define-legacy-typography-config(
  $font-family: "'Roboto' ,sans-serif; ",
  $display-4:
    material.define-typography-level(112px, 112px, 300, "Roboto", -0.0134em),
  $display-3:
    material.define-typography-level(56px, 56px, 400, "Roboto", -0.0089em),
  $display-2: material.define-typography-level(45px, 48px, 400, "Roboto", 0em),
  $display-1:
    material.define-typography-level(34px, 40px, 400, "Roboto", 0.0074em),
  $headline: material.define-typography-level(24px, 32px, 400, "Roboto", 0em),
  $title: material.define-typography-level(20px, 32px, 500, "Roboto", 0.0075em),
  $subheading-2:
    material.define-typography-level(16px, 28px, 400, "Roboto", 0.0094em),
  $subheading-1:
    material.define-typography-level(15px, 24px, 500, "Roboto", 0.0067em),
  $body-2: material.define-typography-level(14px, 24px, 500, "Roboto", 0.0179em),
  $body-1: material.define-typography-level(14px, 20px, 400, "Roboto", 0.0179em),
  $button: material.define-typography-level(14px, 14px, 500, "Roboto", 0.0893em),
  $caption:
    material.define-typography-level(12px, 20px, 400, "Roboto", 0.0333em),
  $input: material.define-typography-level(inherit, 1.125, 400, "Roboto", 1.5px),
);

@function apply-extra-color($theme) {
  @return map.deep-merge(
    $theme,
    (
      info: $workshop-info,
      success: $workshop-success,
      color: (
        info: $workshop-info,
        success: $workshop-success,
      ),
    )
  );
}
