$theme: (
  color: (
    primary: (
      50: #e0f2f1,
      100: #b2dfdb,
      200: #80cbc4,
      300: #4db6ac,
      400: #26a69a,
      500: #009688,
      600: #00897b,
      700: #00796b,
      800: #00695c,
      900: #004d40,
      A100: #a7ffeb,
      A200: #64ffda,
      A400: #1de9b6,
      A700: #00bfa5,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: rgba(0, 0, 0, 0.87),
        A400: rgba(0, 0, 0, 0.87),
        A700: rgba(0, 0, 0, 0.87),
      ),
      default: #009688,
      lighter: #b2dfdb,
      darker: #00796b,
      text: #009688,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": rgba(0, 0, 0, 0.87),
      "A400-contrast": rgba(0, 0, 0, 0.87),
      "A700-contrast": rgba(0, 0, 0, 0.87),
      "contrast-contrast": null,
    ),
    accent: (
      50: #e8eaf6,
      100: #c5cae9,
      200: #9fa8da,
      300: #7986cb,
      400: #5c6bc0,
      500: #3f51b5,
      600: #3949ab,
      700: #303f9f,
      800: #283593,
      900: #1a237e,
      A100: #8c9eff,
      A200: #536dfe,
      A400: #3d5afe,
      A700: #304ffe,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #3f51b5,
      lighter: #c5cae9,
      darker: #303f9f,
      text: #3f51b5,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": white,
      "400-contrast": white,
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    warn: (
      50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #f44336,
      lighter: #ffcdd2,
      darker: #d32f2f,
      text: #f44336,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    is-dark: false,
    foreground: (
      base: black,
      divider: rgba(0, 0, 0, 0.12),
      dividers: rgba(0, 0, 0, 0.12),
      disabled: rgba(0, 0, 0, 0.38),
      disabled-button: rgba(0, 0, 0, 0.26),
      disabled-text: rgba(0, 0, 0, 0.38),
      elevation: black,
      hint-text: rgba(0, 0, 0, 0.38),
      secondary-text: rgba(0, 0, 0, 0.54),
      icon: rgba(0, 0, 0, 0.54),
      icons: rgba(0, 0, 0, 0.54),
      text: rgba(0, 0, 0, 0.87),
      slider-min: rgba(0, 0, 0, 0.87),
      slider-off: rgba(0, 0, 0, 0.26),
      slider-off-active: rgba(0, 0, 0, 0.38),
    ),
    background: (
      status-bar: #e0e0e0,
      app-bar: #f5f5f5,
      background: #fafafa,
      hover: rgba(0, 0, 0, 0.04),
      card: white,
      dialog: white,
      disabled-button: rgba(0, 0, 0, 0.12),
      raised-button: white,
      focused-button: rgba(0, 0, 0, 0.12),
      selected-button: #e0e0e0,
      selected-disabled-button: #bdbdbd,
      disabled-button-toggle: #eeeeee,
      unselected-chip: #e0e0e0,
      disabled-list-option: #eeeeee,
      tooltip: #616161,
    ),
    info: (
      50: #fce4ec,
      100: #f8bbd0,
      200: #f48fb1,
      300: #f06292,
      400: #ec407a,
      500: #e91e63,
      600: #d81b60,
      700: #c2185b,
      800: #ad1457,
      900: #880e4f,
      A100: #ff80ab,
      A200: #ff4081,
      A400: #f50057,
      A700: #c51162,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #e91e63,
      lighter: #f8bbd0,
      darker: #c2185b,
      text: #e91e63,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    success: (
      50: #e8f5e9,
      100: #c8e6c9,
      200: #a5d6a7,
      300: #81c784,
      400: #66bb6a,
      500: #4caf50,
      600: #43a047,
      700: #388e3c,
      800: #2e7d32,
      900: #1b5e20,
      A100: #b9f6ca,
      A200: #69f0ae,
      A400: #00e676,
      A700: #00c853,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: rgba(0, 0, 0, 0.87),
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: rgba(0, 0, 0, 0.87),
        A400: rgba(0, 0, 0, 0.87),
        A700: rgba(0, 0, 0, 0.87),
      ),
      default: #4caf50,
      lighter: #c8e6c9,
      darker: #388e3c,
      text: #4caf50,
      default-contrast: rgba(0, 0, 0, 0.87),
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": rgba(0, 0, 0, 0.87),
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": rgba(0, 0, 0, 0.87),
      "A400-contrast": rgba(0, 0, 0, 0.87),
      "A700-contrast": rgba(0, 0, 0, 0.87),
      "contrast-contrast": null,
    ),
  ),
  primary: (
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc4,
    300: #4db6ac,
    400: #26a69a,
    500: #009688,
    600: #00897b,
    700: #00796b,
    800: #00695c,
    900: #004d40,
    A100: #a7ffeb,
    A200: #64ffda,
    A400: #1de9b6,
    A700: #00bfa5,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: rgba(0, 0, 0, 0.87),
      A400: rgba(0, 0, 0, 0.87),
      A700: rgba(0, 0, 0, 0.87),
    ),
    default: #009688,
    lighter: #b2dfdb,
    darker: #00796b,
    text: #009688,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": rgba(0, 0, 0, 0.87),
    "A400-contrast": rgba(0, 0, 0, 0.87),
    "A700-contrast": rgba(0, 0, 0, 0.87),
    "contrast-contrast": null,
  ),
  accent: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: white,
      400: white,
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #3f51b5,
    lighter: #c5cae9,
    darker: #303f9f,
    text: #3f51b5,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": white,
    "400-contrast": white,
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #f44336,
    lighter: #ffcdd2,
    darker: #d32f2f,
    text: #f44336,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  is-dark: false,
  foreground: (
    base: black,
    divider: rgba(0, 0, 0, 0.12),
    dividers: rgba(0, 0, 0, 0.12),
    disabled: rgba(0, 0, 0, 0.38),
    disabled-button: rgba(0, 0, 0, 0.26),
    disabled-text: rgba(0, 0, 0, 0.38),
    elevation: black,
    hint-text: rgba(0, 0, 0, 0.38),
    secondary-text: rgba(0, 0, 0, 0.54),
    icon: rgba(0, 0, 0, 0.54),
    icons: rgba(0, 0, 0, 0.54),
    text: rgba(0, 0, 0, 0.87),
    slider-min: rgba(0, 0, 0, 0.87),
    slider-off: rgba(0, 0, 0, 0.26),
    slider-off-active: rgba(0, 0, 0, 0.38),
  ),
  background: (
    status-bar: #e0e0e0,
    app-bar: #f5f5f5,
    background: #fafafa,
    hover: rgba(0, 0, 0, 0.04),
    card: white,
    dialog: white,
    disabled-button: rgba(0, 0, 0, 0.12),
    raised-button: white,
    focused-button: rgba(0, 0, 0, 0.12),
    selected-button: #e0e0e0,
    selected-disabled-button: #bdbdbd,
    disabled-button-toggle: #eeeeee,
    unselected-chip: #e0e0e0,
    disabled-list-option: #eeeeee,
    tooltip: #616161,
  ),
  info: (
    50: #fce4ec,
    100: #f8bbd0,
    200: #f48fb1,
    300: #f06292,
    400: #ec407a,
    500: #e91e63,
    600: #d81b60,
    700: #c2185b,
    800: #ad1457,
    900: #880e4f,
    A100: #ff80ab,
    A200: #ff4081,
    A400: #f50057,
    A700: #c51162,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #e91e63,
    lighter: #f8bbd0,
    darker: #c2185b,
    text: #e91e63,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  success: (
    50: #e8f5e9,
    100: #c8e6c9,
    200: #a5d6a7,
    300: #81c784,
    400: #66bb6a,
    500: #4caf50,
    600: #43a047,
    700: #388e3c,
    800: #2e7d32,
    900: #1b5e20,
    A100: #b9f6ca,
    A200: #69f0ae,
    A400: #00e676,
    A700: #00c853,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: rgba(0, 0, 0, 0.87),
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: rgba(0, 0, 0, 0.87),
      A400: rgba(0, 0, 0, 0.87),
      A700: rgba(0, 0, 0, 0.87),
    ),
    default: #4caf50,
    lighter: #c8e6c9,
    darker: #388e3c,
    text: #4caf50,
    default-contrast: rgba(0, 0, 0, 0.87),
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": rgba(0, 0, 0, 0.87),
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": rgba(0, 0, 0, 0.87),
    "A400-contrast": rgba(0, 0, 0, 0.87),
    "A700-contrast": rgba(0, 0, 0, 0.87),
    "contrast-contrast": null,
  ),
);
