$primary: hsl(345, 100%, 43%);
$secondary: hsl(42, 100%, 71%);
$error: #ff0000;

$black: #000000;
$darkGray: #171717;
$grey: #444444;
$white: #ededed;

$primary-hvr: hsl(345, 100%, 38%);
$secondary-hvr: #ffcb52;

$primary-tr: #db003780;
$secondary-tr: #ffd36b80;
$grey-tr: #44444480;
$white-tr: #ededed80;

$danger: #ff0000;
$success: $secondary;

$spacing-XS: 8px;
$spacing-S: 12px;
$spacing-M: 24px;
$spacing-L: 40px;
$spacing-XL: 60px;
$spacing-XXL: 105px;

$haed-font: "Josefin Sans";
$p-font: "Josefin Sans";

$fontsize-H1: 64px;
$fontsize-H2: 36px;
$fontsize-p: 18px;

$brd-radius: 0.2rem;

$transition-ms: all ease-in-out 150ms;

$navy-blue: #1c2331;
$navy-blue-darker: #3c4752;
$navy-blue-darkest: #5c6073;
$navy-blue-light: #7c8594;

$burgundy: #722f37;
$burgundy-darker: #94444d;
$burgundy-darkest: #b65a64;
$burgundy-light: #d87082;

$purple: #8e44ad;
$purple-darker: #9f55bd;
$purple-darkest: #b066cd;
$purple-light: #c177de;

$blue: #2c3e50;
$blue-darker: #4f5b66;
$blue-darkest: #7f8c8d;
$blue-light: #a8d0e6;

$teal: #16a085;
$teal-darker: #1abc9c;
$teal-darkest: #229954;
$teal-light: #1abc9c;

$grey: #34495e;
$grey-darker: #7f8c8d;
$grey-darkest: #95a5a6;
$grey-light: #bdc3c7;

$red: #e74c3c;
$red-darker: #c0392b;
$red-darkest: #a93226;
$red-light: #f1948a;
