/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as material;
@use "./app/main/lobby/lobby.component.scss-theme.scss" as lobby;
@use "./app/app.component.scss-theme.scss" as root;
@use "sass:map";
@use "./themes/dark.scss" as dark;
@use "./themes/light.scss" as light;
@use "./themes/neon.scss" as neon;

material.$theme-ignore-duplication-warnings: true;

@include material.core();

@mixin create-theme($workshop-theme) {
  @include material.all-component-themes($workshop-theme);
  @include lobby.app-lobby-theme($workshop-theme);
  @include root.app-root-theme($workshop-theme);

  $theme-colors: material.get-color-config($workshop-theme);
  $backgrounds: map-get($theme-colors, background);
}

@import "./assets/fonts/fonts.css";
body,
html {
  height: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
}
.light {
  @include create-theme(light.$workshop-theme);
  font-family: "Roboto";
}

.dark {
  @include create-theme(dark.$workshop-theme);
  font-family: "Josefin Sans";
}

.neon {
  @include create-theme(neon.$workshop-theme);
  font-family: "Megrim";
}
