@use "@angular/material" as material;
@use "./common.scss";

$workshop-primary: material.define-palette(
  material.$teal-palette,
  600,
  900,
  300
);
$workshop-accent: material.define-palette(
  material.$indigo-palette,
  600,
  900,
  300
);

$workshop-typography: material.define-legacy-typography-config(
  $font-family: "'Josefin Sans' ,sans-serif; ",
  $display-4:
    material.define-typography-level(
      112px,
      112px,
      300,
      "Josefin Sans",
      -0.0134em
    ),
  $display-3:
    material.define-typography-level(56px, 56px, 400, "Josefin Sans", -0.0089em),
  $display-2:
    material.define-typography-level(45px, 48px, 400, "Josefin Sans", 0em),
  $display-1:
    material.define-typography-level(34px, 40px, 400, "Josefin Sans", 0.0074em),
  $headline:
    material.define-typography-level(24px, 32px, 400, "Josefin Sans", 0em),
  $title:
    material.define-typography-level(20px, 32px, 500, "Josefin Sans", 0.0075em),
  $subheading-2:
    material.define-typography-level(16px, 28px, 400, "Josefin Sans", 0.0094em),
  $subheading-1:
    material.define-typography-level(15px, 24px, 500, "Josefin Sans", 0.0067em),
  $body-2:
    material.define-typography-level(14px, 24px, 500, "Josefin Sans", 0.0179em),
  $body-1:
    material.define-typography-level(14px, 20px, 400, "Josefin Sans", 0.0179em),
  $button:
    material.define-typography-level(14px, 14px, 500, "Josefin Sans", 0.0893em),
  $caption:
    material.define-typography-level(12px, 20px, 400, "Josefin Sans", 0.0333em),
  $input:
    material.define-typography-level(inherit, 1.125, 400, "Josefin Sans", 1.5px),
);

$workshop-theme: material.define-dark-theme(
  (
    color: (
      primary: $workshop-primary,
      accent: $workshop-accent,
    ),
    typography: common.$workshop-typography,
  )
);

$workshop-theme: common.apply-extra-color($workshop-theme);
