@use "@angular/material" as material;
@use "./common.scss";

$workshop-primary: material.define-palette(
  material.$teal-palette,
  300,
  500,
  100
);
$workshop-accent: material.define-palette(
  material.$indigo-palette,
  300,
  500,
  100
);

$workshop-theme: material.define-light-theme(
  (
    color: (
      primary: $workshop-primary,
      accent: $workshop-accent,
    ),
    typography: common.$workshop-typography,
  )
);

$workshop-theme: common.apply-extra-color($workshop-theme);
